# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\blog\1024kbfree.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
